
*{
    margin: auto;
}


#pizzaChoice{
    padding-top: 100px;
    padding-bottom: 50px;  
}

li a{display: inline-block;}


.jumbotron{
    padding-bottom: 110px;
    padding-left: 60px;
}

.css_class_name {
    position: absolute;
    left: 170px;
    top: 187px;
}

span{color:red;}

.css_radioOne {
    position: absolute;
    left: 220px;
    top: 545px;
}

.css_radioTwo {
    position: absolute;
    left: 332px;
    top: 545px;
}

.css_radioThree {
    position: absolute;
    left: 444px;
    top: 545px;
}